@media (max-width: 1000px) {

    h1.titulo-section{
        font-size: 3rem;
    }

    /* Estilo do menu */
    header{
        background-image: none;
        background-color: var(--corAmarela);
    }
    header .logotipo-cabecalho{
        max-width: 150px;
    }

    .menu-desktop {
        display: none;
    }

    .btn-menu-mobile, .menu-mobile {
    display: block;
}
    /* Estilo da Hero */
    section.hero{
    background-image: linear-gradient(to top, var(--corAzul) 90%, var(--corAmarela) 10%);
}

.hero > .interface{
    text-align: center;
    gap: 64px;
    flex-direction: column-reverse;
}

.hero .txt-hero h1{
    font-size: 2rem;
}

.hero .txt-hero h1 span{
    font-size: 3rem;
}

.hero .txt-hero p{
    font-size: 1rem;
}

.hero .img-hero img{
    max-width: 320px;
}

/* Estilo sobre mim*/

.sobre-mim > .interface{
    flex-direction: column;
    gap: 64px;
}

.sobre-mim .img-sobre img{
    max-width: 300px;
}

/* Estilo de seção habilidades */

.skills article{
    grid-template: 1fr 1fr 1fr / 1fr;
}

.skills h1{
    font-size: 2.4rem;
}

/* Estilo do Portfólio */

.portfolio .portfolio-container{
    grid-template: 1fr 1fr 1fr 1fr/ 1fr;
}

.portfolio-container .portfolio-box{
    max-width: 300px;
    margin: 0 auto;
}

/* Estilo do Formulário */
.contato > .interface{
    flex-direction: column;
    gap: 32px;
}

.contato form{
    width: 100%;
}

.contato form .tel-proj{
    display: block;
}

/* RODAPÉ */

footer > .interface{
    flex-direction: column-reverse;
    gap: 32px;
    text-align: center;
}

}